{% extends "base.html" %}  
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}

<section class='home'>
  <div class="home_content">
    <h3>Hello</h3>
    <h1>I am Madhur Kaushik,</h1>
    <h3>I'm a <span>Web Developer</span></h3>
    <p>
      As a passionate BCA student, I’ve built a strong foundation in web
      development with DSA and am seeking a place to apply my knowledge,
      contribute to real projects, and grow as a developer.
    </p>

    <div class="links">
      <a href="https://www.linkedin.com/in/madhur-kaushik1"><i class="fa-brands fa-square-linkedin"></i></a>
      <a href="https://github.com/Madhur-Kaushik1"><i class="fa-brands fa-github"></i></a>
    </div>
    
    <a href="{% url "Cv_Download" %}" class="cv">Download CV</a>
  </div>

  <div class="photo">
    <img src="{% static 'photo.jpg' %}" alt="" />
  </div>
</section>


{% include "Skills/skills.html" %}
{% include "Projects/projects.html" %}
{% include "Certificates/certificates.html" %}
{% include "Contact/contact.html" %}
{% endblock %}