* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --secondary-bg-color: #323946;
  --bg-color: #1f242d;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.madhur {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
  cursor: pointer;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

span {
  color: var(--main-color);
}

.home_content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home_content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.photo img {
  width: 30vw;
  border-radius: 100%;
  box-shadow: 0 0 5rem var(--main-color);
}

.home_content p {
  font-size: 1.6rem;
}

.links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.links a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.cv {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  color: var(--second-bg-color);
  font-size: 1.6rem;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  transition: 0.5s ease;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.cv:hover {
  box-shadow: none;
}

footer {
  width: 100vw;
  height: 5rem;
}

.main_body {
  margin-top: 10rem;
  min-height: 100vh;
  min-width: 100vw;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
  text-shadow: 0 0 2rem var(--main-color);
  margin-bottom: 2.5rem;
  margin-top: 5rem;
}

.image {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  box-shadow: 0 0 5rem 0 var(--main-color);
}

.data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
}

.skill_fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  transition: transform 1s ease-in-out;
}

.skill_fig:hover {
  transform: scale(1.07);
}

.data span {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.outer_div {
  display: flex;
  flex-direction: column;
}

.img_name {
  align-self: center;
  font-weight: 700;
  color: var(--main-color);
  margin-top: 2.5rem;
}

.cert_div {
  height: 100vh;
  margin-top: 10rem;
  width: 100vw;
  align-self: center;
}

.cert_img {
  width: 60%;
  height: 80%;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 5rem;
  display: block;
  align-self: center;
  justify-self: center;
  box-shadow: 0 0 1rem 0 var(--main-color);
}

.pro_div {
  margin-top: 8rem;
  max-height: 100vh;
  max-width: 100vw;
}

.pro_data_div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.pro_heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 2rem var(--main-color);
  font-weight: bold;
}

.pro_fig {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 40%;
  margin-left: 1rem;
  transition: transform 1s ease-in-out;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0 var(--main-color);
}

.pro_fig:hover {
  transform: scale(1.02);
}

.pro_image {
  height: 25vh;
  width: 100%;
  border-radius: 2rem;
  text-align: center;
}

.pro_url_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  width: 100%;
}

.pro_url {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  color: var(--second-bg-color);
  font-size: 1.5rem;
  border-radius: 4rem;
  transition: 0.5s ease;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.pro_url:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.cont_up_div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_div {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cont_links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#cont_links a {
  font-size: 5rem;
  width: 8rem;
  height: 8rem;
}

.cont_main_div {
  box-shadow: 0 0 1rem 0 var(--main-color);
  border-radius: 5rem;
}

.cont_div h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-color);
  text-shadow: 0 0 1rem var(--main-color);
}

.cont_div b {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-color);
  text-shadow: 0 0 1rem var(--main-color);
}

.cont_div h2 {
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 1rem var(--main-color);
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 900px) {
  .cert_img {
    width: 80%;
    height: 70%;
  }


}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    z-index: 1001; 
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .photo img {
    width: 45vw;
    margin-top: 4rem;
  }

  .home_content h3 {
    font-size: 2.5rem;
  }

  .home_content h1 {
    font-size: 5rem;
  }
}

@media (max-width: 600px) {
  .pro_div{
    margin-top: 15rem;
  }

  .pro_data_div{
    width: 100vw;
    flex-direction: column;
    height: 80vh;
  }

  .pro_fig{
    width: 80%;
  }

  .cert_img {
    width: 85%;
    height: 25%;
  }

  .cont_up_div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cont_main_div{
    width: 80%;
    height: 40%;
  }

  .cont_div h1{
    font-size: 3rem;
  }

  .cont_div h2{
    font-size: 2rem;
  }

  .home {
    flex-direction: column;
  }

  .photo img {
    width: 45vw;
    margin-top: 4rem;
  }

  .home_content h3 {
    font-size: 2.5rem;
  }

  .home_content h1 {
    font-size: 5rem;
  }

  .main_body{
    width: 100vw;
    margin-left: 2rem;
  }

  .cert_div{
    width: 100vw;
    height: 70vh;
  }

  .cert_img{
    height: 100%;
  }

}

@media (max-width: 450px){
  .cont_main_div{
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .cont_div h1{
    font-size: 2rem;
  }

  .cont_div h2{
    font-size: 1.5rem;
  }


}

@media(max-width: 400px){
  .main_body{
    width: 100vw;
    height: 100vh;
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
    margin-top: 2.9rem;
  }

  .image{
    width: 50vw;
    height: 25vh;
  }

  .cert_div{
    width: 100vw;
    height: 45vh;
  }

  .cert_img{
    width: 90%;
    height: 100%;
    margin: 0;
  }

  .cont_main_div{
    height:40vh;
    width: 50vh;
  }

  .cont_main_div{
    width: 80%;
  }

    .cont_div h1{
    font-size: 2rem;
  }

  .cont_div b{
    font-size: 1.8rem;
  }

  .cont_div h2{
    font-size: 1.5rem;
  }

  #cont_links a{
  width: 7rem;
  height: 7rem;
  font-size: 5rem;
  }

}


@media(max-width: 300px){
  .pro_div{
    margin-top: 10rem;
  }

  .pro_data_div{
    height: 100vh;
  }

  .pro_fig{
    height: 50%;
    width: 80%;
  }

  .pro_url{
    height: 4rem;
    width: 7rem;
    padding-left: 1.75rem;
  } 

  .cert_div{
    width: 100vw;
    height: 35vh;
  }

  .cert_img{
    width: 99%;
    height: 100%;
    margin: 0;
  }

  .cont_main_div{
    height:30vh;
    width: 90vw;
  }

  .cont_div h1{
    font-size: 1.5rem;
  }

  .cont_div b{
    font-size: 1.4rem;
  }

  .cont_div h2{
    font-size: 1.3rem;
  }

  #cont_links a{
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  }

}

@media(max-width: 270px){
  .pro_div{
    margin-top: 10rem;
  }

  .cont_main_div{
    height:29vh;
    width: 90vw;
  }

  .cont_div h1{
    font-size: 1.4rem;
  }

  .cont_div b{
    font-size: 1rem;
  }

  .cont_div h2{
    font-size: 1rem;
    display: inline-block;
  }

  #cont_links a{
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  }

}

@media (max-width :240px){
  .pro_div{
    margin-top: 12rem;
  }

  .main_body{
    margin-top: 8rem;
  }

  .pro_heading{
    font-size: 2rem;
  }

  .pro_fig{
    padding: 1rem;
  }

  .cont_main_div h2{
    font-size: .8rem;
  }

  .cont_main_div h1{
    font-size: 1rem;
  }

}