{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}

<div class='cont_up_div'>


    <div class='cont_main_div'>

        <div class="cont_div"><h1>Email</h1> <b>: </b> <a href="https://mail.google.com/mail"><h2>MadhurKaushik109@gmail.com</h2> </a></div>

        <div class="cont_div"><h1>Location</h1> <b>:</b> <h2> Muradnagar, Ghaziabad</h2></div>

        <div class="links" id='cont_links'>
        <a href="https://www.linkedin.com/in/madhur-kaushik1"><i class="fa-brands fa-square-linkedin"  class='one'></i></a>
        <a href="https://github.com/Madhur-Kaushik1"><i class="fa-brands fa-github" class='one'></i></a>
        </div>

    </div>

</div>
{% endblock %}